@utility complementary {
	pointer-events: none;

	display: inline-flex;
	align-items: center;

	width: auto;
	height: auto;
}

@utility not-allowed {
	@apply cursor-not-allowed opacity-20 grayscale-20 select-none;
}

@utility pretty-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: var(--color-brand) transparent;
}

@utility pseudo-border {
	position: relative;
	z-index: 4;

	&::before {
		content: "";
		position: absolute;
		z-index: 8;

		inset: 0;

		border-radius: inherit;
		border: 3px solid var(--color-inverse);

		pointer-events: none;
	}
}
